body,
html {
  height: 100%;
  margin: 0;
}

.bg {
  background-image: url("https://images.unsplash.com/photo-1541462608143-67571c6738dd");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div>#overlay-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.center {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  /* These two lines are counted as one :-)       */
  margin: 0;
  display: flex;
  align-items: center;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}

.foot-message {
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}